%% -*- mode: erlang -*-
%% PropEr dependency is in rebar.proper.config, to be used as:
%%
%% $ rebar -C rebar.proper.config get-deps compile
%% $ rebar -C rebar.proper.config eunit skip_deps=true
%%
{erl_opts, [{platform_define, "^[0-9]+", namespaced_dicts}, warnings_as_errors]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{xref_checks, [fail_on_warning,
               undefined_function_calls,
               deprecated_function_calls
              ]}.
